/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.container {
	padding-top: 5%;
    width: 100%!important;
    max-width: 100%!important;
}

.header {
	padding:0px;
	margin:0px
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
    position: absolute;
    top: 93%;
    left: 24%;
    height: 15%;
    width: 50%;
}

.brand-image {
	display: block;
    margin-left: 5%;
    margin-right: auto;
	height: auto!important;
    width: 30%!important;
    padding-top: 5%;
}

.btn-primary {
	border: 0px;
	border-color: transparent!important;
	background-color: rgba( 85, 20, 180, 0.5)
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	border: 0px!important;
	border-color: transparent!important;
	background-color: rgba( 20, 32, 50, 0.5)!important;
	box-shadow: 0 0 0 0
}

.card {
	margin: 1%!important;
    padding: 0%!important;
}

.row {
	    margin-left: 14.5%;
}
